#wireVerticalContainer {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 64px 15%;

  #graphContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .wireRow {
      display: flex;
      align-items: center;

      .color {
        width: 70px;
        height: 44px;
        margin-right: 32px;
        padding: 4px;
        border: solid 1px #2f3135;
        border-radius: 4px;

        &.blue {
          background: url('../../../assets/images/wires-vertical/blue-wire.png') no-repeat center;
        }

        &.red {
          background: url('../../../assets/images/wires-vertical/red-wire.png') no-repeat center;
        }

        &.blueRed {
          background: url('../../../assets/images/wires-vertical/blue-red-wire.png') no-repeat center;
        }

        &.white {
          background: white;
        }
      }

      .indicatorColumn {
        display: flex;
        flex-direction: column;

        .indicatorRow {
          display: flex;
          align-items: center;

          &.starOff {
            & > div {
              border-top: #bbb 1px solid;
            }
          }

          &.ledOn .starOff {
            & > div {
              border-bottom: #9c9c9c 2px solid;
            }
          }
        }
      }

      img {
        height: 32px;
        margin: 8px 32px;
      }
    }
  }

  #textContainer {
    max-width: 300px;
    color: #f2f2f9;


    & > div {
      padding: 16px 32px;
      background-color: #2f3135;
      border-radius: 4px;

      h3 {
        margin: 0 0 16px 0;
      }

      .bold {
        font-weight: bold;
      }

      ul {
        &.blueList {
          border-left: 2px solid #274eff;
        }

        &.redList {
          border-left: 2px solid #ca0006;
        }

        &.blueRedList {
          border-left: 2px solid #a617ff;
        }

        &.whiteList {
          border-left: 2px solid white;
        }


        li {
          margin-bottom: 8px;
        }
      }
    }
  }
}
