#wireVerticalContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 0 64px 30vw;

  .wireRow {
    display: flex;
    align-items: center;

    .color {
      width: 70px;
      height: 44px;
      margin-right: 32px;
      padding: 4px;
      border: solid 1px #2f3135;
      border-radius: 4px;

      &.blue {
        background: url('../../../assets/images/wires-vertical/blue-wire.png') no-repeat center;
      }

      &.red {
        background: url('../../../assets/images/wires-vertical/red-wire.png') no-repeat center;
      }

      &.blueRed {
        background: url('../../../assets/images/wires-vertical/blue-red-wire.png') no-repeat center;
      }

      &.white {
        background: white;
      }
    }

    .indicatorColumn {
      display: flex;
      flex-direction: column;

      .indicatorRow {
        display: flex;
        align-items: center;

        &.starOff {
          & > div {
            border-top: #bbb 1px solid;
          }
        }

        &.ledOn .starOff {
          & > div {
            border-bottom: #9c9c9c 2px solid;
          }
        }
      }
    }

    img {
      height: 32px;
      margin: 8px 32px;
    }
  }
}
