#morseModule {
  padding: 15%;

  #buttonsContainer {
    display: flex;
    flex-wrap: wrap;

    & > div {
      display: flex;
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }

  .button {
    position: relative;
    background-color: #2f3135;
    color: #f2f2f9;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: 128px;
    min-height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #424549;

      .tooltipText {
        visibility: visible;
      }
    }

    &:not(:last-child){
      margin-right: 16px;
    }

    &.revert {
      background-color: #f2f2f9;
      color: #424549;
      border: 2px solid #424549;

      &:hover {
        background-color: #dae4ed;
      }
    }

    &#saveLetter {
      width: auto;
      padding: 8px 16px;
    }

    .tooltipText {
      visibility: hidden;
      background-color: #424549;
      color: #f2f2f9;
      font-size: 14px;
      text-align: center;
      padding: 8px 16px;
      border-radius: 6px;

      position: absolute;
      z-index: 1;
      max-width: 200px;
      top: 38px;
      left: 50%;
      margin-left: -60px;
    }

    .tooltipText::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #424549 transparent;
    }
  }

  .pi-circle-on {
    font-size: 14px;
  }

  .pi-minus {
    font-size: 30px;
  }

  .bold {
    font-weight: bold;
  }

  #buttonsContainer {
    display: flex;
    justify-content: center;
  }

  #currentLetterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;

    #currentLetter {
      display: flex;
      margin-bottom: 32px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
      }
    }

    #letterResult {
      #saveLetter {
        margin-top: 16px;
      }
    }
  }

  #finalResult {
    margin-top: 64px;
    text-align: center;

    #finalFrequency {
      margin-top: 32px;
    }
  }
}
