<div id="passwordModuleContainer">
  <div id="passwordGridContainer">
    <div class="passwordItem" *ngFor="let password of possiblePasswords">
      {{password.toUpperCase()}}
    </div>
  </div>

  <div id="letterSelectionContainer">
    <div class="letterRow" *ngFor="let letterRow of lettersPropositions; let rowNumber = index">
      <div>
        <span>Lettre n°{{rowNumber+1}}:</span>

        <div
          class="letter"
          [ngClass]="{'selected': letters[rowNumber].includes(letter)}"
          *ngFor="let letter of letterRow"
          (click)="selectLetter(rowNumber, letter)"
        >
          {{letter.toUpperCase()}}
        </div>
      </div>

      <button
        pButton
        type="button"
        icon="pi pi-undo"
        class="ui-button-raised ui-button-warning"
        (click)=resetRow(rowNumber)
      ></button>
    </div>
  </div>

  <button
    pButton
    type="button"
    label="Réinitialiser"
    class="ui-button-raised ui-button-warning"
    (click)=resetList()
  ></button>
</div>
