$cellSize: 80px;

#mazeModuleContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  #mazeControlsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .mazeContainer {
      position: relative;
      border: 3px solid #424549;
      background-color: #ebedf0;

      .column {
        display: inline-block;
        width: $cellSize;
        margin-bottom: -5px;
  
        &.borderColumn {
          width: 3px;
        }
        
        .row {
          height: $cellSize;
          width: 100%;
          text-align: center;

          & div {
            width: 100%;
            height: 100%;
          }

          &.borderRow {
            height: 3px;
          }
        }
      }

      #mainMaze {
        .column {
          .row {
            cursor: pointer;
    
            background: url('../../../assets/images/maze/point.png') center no-repeat;
            background-size: contain;
    
            &.closedBorder {
              background-color: #424549;
            }
    
            .marker {
              background: url('../../../assets/images/maze/marker.png') center no-repeat;
              background-size: contain;
            }
    
            .startPosition {
              background: url('../../../assets/images/maze/start-position.png') center no-repeat;
              background-size: contain;
            }
    
            .endPosition {
              background: url('../../../assets/images/maze/end-position.png') center no-repeat;
              background-size: contain;
            }
    
            .startPosition, .endPosition {
              position: relative;
              -webkit-animation: spin 15s linear infinite;
            }
          }
        }
      }

      #mazePath {
        position: absolute;
        top: 0;
        left: 0;

        & .direction {
          position: relative;

          &.upward, &.downward, &.leftward,&.rightward {
            & > div {
              position: absolute;
              background-color: #101dce;
              border-radius: 10px;
            }
          }

          &.upward, &.downward {
            & > div {
              height: 93px;
              width: 10px;
              left: 35px;
            }
          }

          &.leftward, &.rightward {
            & > div {
              height: 10px;
              width: 93px;
              top: 35px;
            }
          }

          &.upward {
            div {
              bottom: 35px;
            }
          }
  
          &.downward {
            div {
              top: 35px;
            }
          }

          &.leftward {
            div {
              right: 35px;
            }
          }

          &.rightward {
            div {
              left: 35px;
            }
          }
        }
      }
    }
  
    .button {
      margin-top: 32px;
      background-color: #2f3135;
      color: #f2f2f9;
      border-radius: 4px;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      padding: 8px 16px;
  
      &:hover {
        background-color: #424549;
      }
  
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    #errorMessage {
      margin-top: 32px;
      min-height: 30px;
      font-weight: bold;
      color: #c60000;
    }
  }

  #directionContainer {
    display: flex;
    flex-direction: column;
    margin-left: 64px;

    h3 {
      margin: 0 0 16px;
    }

    span {
      font-size: 18px;
      font-weight: bold;
      margin-left: 32px;
      
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}

@-webkit-keyframes spin
{  
  0%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: 50% 50% 0;}
  100% {-webkit-transform: rotate(360deg); -webkit-transform-origin: 50% 50% 0;}
}
